<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<description>Owl Web API</description>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HTTPSOnly</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!-- Global config -->
	<context-param>
		<param-name>agg.host</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>agg.port</param-name>
		<param-value>7008</param-value>
	</context-param>
	
	<!-- Simple REST object -->
  <servlet>
    <servlet-name>public-servlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.owlplatform.api.pub</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>public-servlet</servlet-name>
    <url-pattern>/p/*</url-pattern>
  </servlet-mapping>
</web-app>
